h1 Hi {{username}}

p Welcome to LoLHype! Thanks so much for joining us.

h3 Real time search

p You can use it for see player in game

h3 Guides

p You can create your personal guide, or see anothers guides from another user.

p See you later on
h3: a(href="http://lolhype.com") LoL Hype
