h1 Hi #{username}

p Welcome to GuidesLoL! Thanks so much for joining us.

h2 What is GuidesLoL ?

h3 Real time search

p You can observe the live game data of an in-game player you are watching

h3 Guide

p The guides give advice to a user about a champion. It is possible for a single champion to have several guides also depending on the game mode.

p A guide contains the client version of League of legends. The version is given by the server when the guide is saved in the database. If a guide doesn’t match the actual version of the client then it can’t be considered as “Best Guide” anymore.

Guides contain the following four informations :
Starting items
mid & late game items
Skills
Runes

h4 You can create your own guide and be the best guide on Guides LoL.

p See you later on&nbsp;
	a(href="http://guideslol.com") Guides LoL
