<<<<<<< HEAD
h1 Hi #{username}

p Thanks you for contribute.

h2 Created guide with success! You are the best.

h3 Make the best guide

p Share your guide and make it the best by people vote.

h3 Use my guide

p Go in game, and use real time search. When your current game match your guide, it will be appears automaticly.

h3 Update my guide

p go to
	a(href="http://lolhype.com/account") "My account page"
p and see all you guides you have created.

p See you later on&nbsp;
	a(href="http://lolhype.com") LoL Hype
=======
h1 Hi #{username}

p Thanks you for contribute.

h2 Created guide with success! You are the best.

h3 Make the best guide

p Share your guide and make it the best by people vote.

h3 Use my guide

p Go in game, and use real time search. When your current game match your guide, it will be appears automaticly.

h3 Update my guide

p go to
	a(href="http://lolhype.com/account") "My account page"
p and see all you guides you have created.

p See you later on&nbsp;
	a(href="http://lolhype.com") LoL Hype
>>>>>>> 4fbdecd8a40918a7eaf96a0f78ac549c4691c01a
